mmcv~=2.0.0rc4
mmengine~=0.10.5
mmdet~=3.3.0
opencv-python~=4.9.0.80
numpy~=1.24.3
matplotlib~=3.7.5
requests~=2.32.3
pandas~=2.0.3
pycocotools~=2.0.7
scipy~=1.10.1
tqdm~=4.65.2
pillow~=10.4.0
rich~=13.4.2
six~=1.16.0
addict~=2.4.0
terminaltables~=3.1.10
shapely~=2.0.6
setuptools~=60.2.0
yaml~=0.2.5
pyyaml~=6.0.1
model-index~=0.1.11
ultralytics~=8.3.9
sahi~=0.11.18
seaborn~=0.13.2
psutil~=6.0.0
tensorflow~=2.13.0